body{width: 1200px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  text-align: center;
  justify-content: space-between;
  overflow: auto;
  font-size: 10px;
      }
header,nav {height: 10vh;
     width: 1200px;
     display: flex;
     justify-content: space-between;
     flex-wrap: nowrap;
     background-color: rgba(226, 171, 19, 0.863);
     position: relative;
    }
.logo{  height: 10vh;
    display: flex; 
    top: 0;   
    left: 0; 
   position: absolute;
       }
.btn1,.btn2, .btn3, .btn4, .btn5{
  width: 110px;
  background-color: rgba(219, 168, 29, 0.1);
  border: 0;
  list-style: none; 
  text-decoration: none;
  justify-content: center;
  overflow: hidden;
  
}
ul{  margin: 10px;
  display: flex;
  list-style: none;
  text-decoration: none;}
.header-btn{display: flex;
  align-items: center;
       }
.btn1:hover,.btn2:hover, .btn3:hover, .btn4:hover, .btn5:hover
   {border-color: white;
    border: 2px solid;
    color: white;}
.main{   width: 1200px;
      height: 80%;
      display: flex;
      justify-content: space-around;
      margin: 0;
       }
     
h1, .content{
       align-items: center;
       display: flex;
       justify-content: center;
       background-color: white;
       } 
.content{font-size: 16px;}

.as1, .as2{width: 300px;
      height: auto;
      font-weight: bolder;
     display: flex;
     justify-content: center;
     padding: 20px;}
.as1{background-color: pink;
  order: -1;}
.as2{background-color: rgb(197, 197, 253);
  }

footer{  width: 1200px;
       height: 15vh;
       background-color: greenyellow;
       display: flex;
       justify-content: center; 
       align-items: center;
       overflow: hidden;                                 
      }
.bloks{display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 10px;
      }
.all-blok{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     overflow: auto;
     padding: 10px;
    
     }
.blok1, .blok2, .blok3, .blok4, .blok5, .blok6{
       border-radius:10%;
       border: 1px solid;
       height: 350px;
       width: 250px;
       display: flex;
       flex-wrap: wrap;
       overflow: hidden;
       flex-shrink: 1;
       flex-grow: 1;
       justify-content: center;
       font-size: 14px;
               } 
.foto{width: 90px;
     height: 90px;  
     display: flex;
     justify-content: center;} 

.foto:hover{border: 2px solid;
         border-radius: 50%;}
.go{  width: 50px;
     height: 25px;
     border-radius: 32%;
     background-color: rgb(93, 58, 125);
     color: white;
     display: flex;
     justify-content: center;
     align-items: end;
     margin-top: auto;}  
#menu-toggle {
       opacity: 0;
       justify-content: flex-end;
       
     }
     @media (max-width: 1199px){}
     @media (max-width: 767px) { .as1{display: none;}}
     @media (max-width: 675px) 

{.as1, .as2{display: none;}
header,nav {height: 10vh;
  width: 100vw;
  display: flex;
   }
.main{   width: 100vw;
  height: 80%;
 
   }
.content{font-size: 10px;}
.go{  width: 25px;
  height: 15px;
  border-radius: 25%;
  font-size:0.5px;
  
} 
.foto{width: 20px;
  height: 20px;  
  }
.blok1, .blok2, .blok3, .blok4, .blok5, .blok6{
  height: 150px;
  width: 150px;
  flex-shrink: 2;
  font-size: 1px;
          } 
footer{  width: 100vw;
       height: 5%;
                                               
           }
.menu-btn {
  display: flex; 
  align-items: center;  
  position:fixed;
  top: 20px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
  }
  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
   display: block;
   position: absolute;
   width: 14px;
   height: 2px;
   background-color: #616161;
  }
  
.menu-btn > span::before {
  content: '';
  top: -8px;
}
.menu-btn > span::after {
  content: '';
  top: 8px;
}
.menu-box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 100px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);   }  
.header-btn{display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;        }
.header-btn:hover {
  background-color: #bcd6e2;
}
#menu-toggle:checked ~ .menu-btn > span {
  transform: rotate(45deg);
}

#menu-toggle:checked ~ .menu-btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu-toggle:checked ~ .menu-btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu-toggle:checked ~ .menu-box {
  visibility: visible;
  right: 0;
}
body{overflow: hidden;}}    
     
     

 


